{
  "trailingComma": "es5",
  "bracketSameLine": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "jsxBracketSameLine": false
}
